body {
	background: #313131 !important;
	color: white !important;
}

#header {
	margin-bottom: 10vh;
}

#header h1 {
	margin-bottom: 3vh;
	font-size: 10vh;
}

.products {
	margin: 10vh !important;
}

.product_table {
	/* margin: 10vh; */
}

.product {
	margin-bottom: 12vh;
}

h3 {
	font-size: 2vh;
	font-weight: 100 !important;
	margin-bottom: 3vh !important;
}

.done {
	margin-top: 3vh !important;
}