body {
    background-color: #313131 !important;
    color: white !important;
}

#main {
    padding-top: 13vh;
    text-align: center;
}

#header {
    margin-top: 3vh;
    margin-bottom: 10vh;
}

#header h1 {
    color: white !important;
}

#header hr {
    width: 20vh;
    margin-bottom: 3vh;
}

a {
    text-decoration: none !important;
    color: #c3ea6e !important;
}

a:hover {
    color: #a6c95a !important;
}

form {
    width: 100%;
}

form p {
    margin-bottom: 5vh;
}

/* Select CSS */

input {
    padding: 2.4vh !important;
    border-radius: 6px !important;
    width: 50vh;
    max-width: 90%;
    height: 100%;
    margin: 1vh;
}
    
select {
    height: 100%;
    padding: 2.4vh !important;
    border-radius: 6px;
    border: none;
    outline: none;
    box-shadow: 0 4px 12px 0px rgba(0,0,0,.25);
    font-size: 2.5vh !important;
    margin-left: 0px !important;
}

#controls {
    margin-bottom: 3vh !important;
}

/* Inputs */
/* The message box is shown when the user clicks on the password field */

#message {
    display:none;
    position: relative;
    padding: 20px;
    margin-top: 10px;
    transition: 0.3s !important;
    text-align: left;
    width: 50vh;
    max-width: 90%;
    margin: 0 auto;
}

#message p {
    margin: 2vh;
    font-size: 2vh;
    margin-left: 3.6vh;
}

/* Add a green text color and a checkmark when the requirements are right */

.valid {
    color: #c0f154;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */

.invalid {
    color: rgb(233, 62, 62);
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}