html {
    font-size: 16px;
}







body {



    font-family: Montserrat, sans-serif !important;



    overflow-x: hidden;



    font-weight: normal !important;



    word-wrap: break-word !important;



    overflow-wrap: break-word !important;



    overflow-x: hidden !important;



}







.nav * {



	transition: background-color 300ms linear;



}







.navbar {



    background: transparent !important;



    color: white !important;



    width: 100% !important;



    transition: 0.3s !important;



}







.nav-item {



    margin: 2vh;



    transition: 0.3s !important;



}







#nav-item a {



    color: white !important;



}







.navbar-dark .navbar-nav .nav-link {



    color: white !important;



}







.nav-link {



	color: white !important;



    font-size: 2.15vh;



    transition: 0.3s !important;



}







.active {



    color: #c3ea6e !important;



}

a {



    color: #1b1e21 !important;



}







a:hover {



    color: #b3d666 !important;



}







button, input[type="submit"] {



    background: #c3ea6e !important;



    outline: none !important;



    border: none !important;



    border-radius: 6px !important;



    color: black !important;



    transition: 0.3s !important;



    font-family: Montserrat, sans-serif !important;



    cursor: pointer !important;



    font-weight: bold !important;



    padding: 2vh !important;



    padding-left: 5vh !important;



    padding-right: 5vh !important;



    font-size: 2.5vh !important;



}







button:hover, input[type="submit"]:hover {



    background: #a6c95a !important;



    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.175) !important;



}







button:active, input[type="submit"]:active {



    outline: none !important;



    border: none !important;



}







.overlay-container{



    align-items: center; 



    justify-content: left;



    position: absolute;



    display: flex;



    width: 100%;



    height: 100%;



    top: 0px;



    left: 0px;



    background: #1b1e21;



}







.slide h3 {



    color: #c3ea6e !important;



}







.slide p {



    color: white !important;



    width: 45%;



}







.newsletter {



	text-align: center;



	padding: 6.3% !important;



}







.carousel-inner {



    height: 100vh;



}







.carousel-inner img {



    height: 100%;



}







.carousel-inner .carousel-caption {



    transform: translateY(-27vh);



    bottom: 0;



    top: 50%;



    right: auto;



    text-align: left;



}







@media only screen and (max-width: 600px) {



    .carousel-inner .carousel-caption {



        transform: translateY(-37vh);



        bottom: 0;



        top: 50%;



        right: auto;



        text-align: left;



        padding-left: 4.5vh;



    }



    .carousel-inner h1 {



        font-size: 10vh !important;



        margin-bottom: 5vh !important;



    }



    .slide p {



        width: 76%;



        margin-bottom: 5vh !important;



    }



    .nav-link {



        padding: 0 !important;



        color: black !important;



        padding-left: 6vw !important;



        padding-bottom: 2vw !important;



    }



    .nav-link:last-child {



        padding-bottom: 5vw !important;



    }



    #navbarResponsive {



        background: white !important;



        padding-top: 15vw !important;



        color: black !important;



    }



    #cart-nav {



        background: white !important;



        color: black !important;



    }



    .navbar-toggler:active, .navbar-toggler:hover {



        background: rgb(255, 255, 255) !important;



        box-shadow: none !important;



    }



    #inner {



        background: white;



        height: 7.8vh !important;



    }



    body {



        padding-top: 4vh !important;



    }   



  }







.wrapper {



    display: table !important;



    width: 100%;



}







.carousel-inner h1 {



    font-size: 15vh;



}



    



.carousel-inner p {



    font-size: 2.5vh;



    margin-bottom: 3%;



}



    



.carousel-inner img {



    width: 100%;



    height: 100%;



}







.wrapper {



    padding: 12vh 10vh 12vh 10vh;



    display: table !important;



    height: 100%;



}







#slider_1 {



    background: url("res/slider_1.png");



    background-size: cover !important;



    background-repeat: no-repeat;



    background-size: 100%;



    height: 100vh !important;



}







#slider_2{



    background: url("res/slider_2.png");



    background-size: cover !important;



    background-repeat: no-repeat;



    background-size: 100%;



    height: 100vh !important;



}



    



p {



    font-size: 2.6vh;



}







.wwd_text p {



    padding-top: 10px;



    margin: 0 auto;



    word-wrap: break-word;



    line-height: 33px;



}







h1 {



    font-size: 12vh;



}



    



.wwd_text h1 {



    font-size: 9vh !important;



}







/* Scrollbar */







::-webkit-scrollbar {



	display: none;



}







.full {



    height: 100vh;



}







#work {



    background: #c3ea6e !important;



}







#work .col-lg-4 {



    padding: 0px;



}







.one {



    background-color: white;



}







.wwd_text {



    display: table-cell !important;



    vertical-align: middle !important;



}







.one h1 {



    color: black !important;



}







.two {



    background-color: #c3ea6e;



    color: black;



}







.two h1 {



	color: black !important;



}







.three {



    background-color: white;



}







.three h1 {



	color: black !important;



}







hr {



    background: #c3ea6e;



    width: 20%;



    height: 4px !important;



    border: none;



    border-radius: 6px !important;



}







.two hr {



	background: white;



}







.newsletter {



    background: #313131;



    color: white;



    height: auto !important;



    display: flex;



    flex-flow: row wrap;



}







.newsletter p {



    margin: 0px;



	padding-left: 17vw !important;



	padding-right: 17vw !important;



	padding-top: 3.5vh;



	padding-bottom: 3.5vh;



}







.newsletter_text {



    display: flex;



    justify-content: center;



    flex-direction: column;



    padding-bottom: 5vh;



    padding-top: 5vh;



}







.newsletter_icon {



    display: flex;



    justify-content: center;



    flex-direction: column;



}







#nws_f {



    border-radius: 6px !important;



    margin: 1vh !important;



    width: 30vh;



    height: 8vh;



    padding: 3vh !important;



    margin-right: 1vh !important;



    vertical-align: middle;



}







#nws_s {



    height: 8vh;



    margin: 1vh !important;



    width: 30vh;



    margin-left: 1vh !important;



}







.newsletter_form .form-group {



    margin: 0px !important;



}







.newsletter_form form div {



    display: flex;



    justify-content: center;



    align-items: center;



}







.newsletter_form form input {



    vertical-align: middle;



    width: 50%;



}







input {



    display: inline-block !important;



    border: none !important;



    outline: none !important;



    padding: 5% !important;



    font-size: 2.5vh !important;



}







.about img {



    width: auto;



    height: 100%;



}







.about_container {



    height: 100%;



    padding-left: 11%;



    padding-right: 11%;



}







.about_text {



    padding: 6%;



	padding-top: 12%;



	padding-bottom: 12%;



}







.about_text h1 {



	font-weight: bold !important;



	color: black !important;



}







.newsletter_text h1 {



	font-weight: bold !important;



	color: white !important;



}







.about_text p {



    line-height: 35px;



}







.footer {



    background-color: #313131;



    color: white !important;



    text-align: left;



    padding: 5%;



}







.footer a {



    color: #c3ea6e !important;



}







.footer .footer_img img {



    width: 80% !important;



    height: auto;



}







.afterspace {



	margin-top: 2vh;



    margin-bottom: 2vh;



}







.afterspace h3 {



    color: white;



}







.afterspace hr {



    margin-bottom: 5vh;



}







.small_p {



    width: 60%;



    margin: 0 auto;



}







h1, h2, h3 {



    font-family: Montserrat, sans-serif !important;



    font-weight: bold !important;



}







.scrolled #cart {



    background-image: url("res/shopping-cart2.svg") !important;



    margin: 0px;



}







.scrolled {



  background-color: white !important;



  transition: background-color 300ms linear;



  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25) !important;



}







.scrolled .nav-link {



	color: black !important;



}







.scrolled .active {



	color: black !important;



	font-weight: bold !important;



}







.navbar-toggler {



    border-radius: 0px !important;



    padding-right: 100vw !important;



    position: absolute;



    background: white !important;



    top: 0;



    left: 0;



    z-index: 1000 !important;



    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25) !important;



    transition: 0.3s !important;



}







/* Table */







table {



    width: 100%;



    color: black;



    font-size: 2vh;



}







td, th {



    padding: 3vh;



}







td {



    background: white;



    cursor: pointer;



}







tr:hover > td {



    background: whitesmoke;



}







th {



    background: #c3ea6e;



}







th:first-child {



    border-top-left-radius: 6px;



}







th:last-child {



    border-top-right-radius: 6px;



}







tr:last-child {



    font-weight: bold;



    border-top: 1px solid rgb(225, 225, 225, 0.2);



}







tr:last-child td:first-child {



    border-bottom-left-radius: 6px;



}







tr:last-child td:last-child {



    border-bottom-right-radius: 6px;



}







@media (max-width: 767px) {



    body > .container { overflow: hidden; } /* fix */



    body > .container > * { overflow: visible; } /* reset back to normal */



}



* { overflow: auto !important; }



.footer a {

    color: white !important;

    text-decoration: none !important;

}