body {
	background: white !important;
}
* { overflow: auto !important; }
#quest {
	background-color: #313131;
}
.row {
	padding-left: 10.5vw;
	padding-right: 10.5vw;
	padding-bottom: 6vw;
	padding-top: 6vw;
}
.slide {
	height: 100vh;
}
a {
	text-decoration: none !important;
	color: white !important;
}
p {
	opacity: 0.7;
	color: white;
}
h1 {
	color: white !important;
	opacity: 1 !important;
}
hr {
	width: 6vw !important;
}
#answers {
	background: white;
}
#answers .contain h1, #answers .contain p {
	color: black !important;
}
#correct {
	background-color: #c3ea6e !important;
}
.col-lg-6 {
	margin-bottom: 10vh !important;
}
.date {
	text-align: right;
	font-size: 2vh;
	opacity: 0.5;
}
.contain {
	padding: 2vh;
}
.contain p {
	margin-bottom: 1vh;
}