body {
	background: #313131 !important;
	padding-top: 0px !important;
}

* {
	overflow: auto !important;
}

.row {
	padding-left: 11vw;
	padding-right: 11vw;
	padding-bottom: 5vw;
	padding-top: 5vw;
}

input {
	padding: 0px !important;
	width: 100%;
}

#question {
	background: transparent;
	font-size: 12vh !important;
	font-weight: bold !important;
	color: white !important;
}

#explanation {
	background: transparent;
	font-size: 5vh !important;
	color: white !important;
	margin-bottom: 40px;
}

input[type="submit"]{
	width: 35vh !important;
}

a {
	text-decoration: none !important;
	color: white !important;
}