body {


    background-color: #313131 !important;


    color: white !important;


    background-image: url("../../res/logo_icon.png");


    background-size: 115%;


    background-position-y: -51vh !important;


    background-position-x: -46vh !important;


    background-repeat: no-repeat;


}





#main {


    padding: 10%;


    padding-left: 5%;


    padding-right: 5%;


    padding-bottom: 0%;


}





#img_container {


    background: white;


    border-top-left-radius: 20px;


    border-top-right-radius: 20px;


    height: 100%;


    width: 100%;


    padding: 5%;


    padding-top: 0px;


    text-align: center;


}





#img_container img {


    border-top-left-radius: 20px;


    border-top-right-radius: 20px;


}





#outer {


    height: 100%;


}





#details {


    padding-left: 10%;


    width: 100%;


    padding-top: 5%;


}





#details h1 {


    color: white !important;


    font-size: 9vh;


}





#details p {


    opacity: 0.6;


    display: inline-block;


    vertical-align: middle;


    float: none;


}





input {


    border-radius: 6px !important;


    padding: 2vh !important;


    height: 80%;


    vertical-align: middle;


    float: right;


}





input[type="number"] {


    width: 100px !important;


}





input[type="submit"] {


    padding: 2vh !important;


    text-transform: uppercase;


    font-weight: bold !important;


}





form {


    width: 100%;


}





#det {


    margin-top: 1vw;


}





#price {


    font-weight: bold;


    color: white;


    opacity: 1 !important;


    font-size: 5vh;


}





@media only screen and (max-width: 600px) {


    #navbarResponsive {


        background: white !important;


        color: black !important;


        padding-top: 0 !important;


    }


    #cart-nav {


        background: white !important;


        color: black !important;


        padding-top: 15vw !important;


    }


  }