body {
    background-color: #313131 !important;
    color: white !important;
    padding-top: 0 !important;
}

#main {
    text-align: center;
    display: table;
    width: 100%;
    height: 100vh;
}

#header {
    margin-top: 3vh;
    margin-bottom: 10vh;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#header h1 {
    color: white !important;
}

#header hr {
    width: 20vh;
    margin-bottom: 3vh;
}

#header p {
    margin-bottom: 5vh;
}

a {
    text-decoration: none !important;
    color: #c3ea6e !important;
}

a:hover {
    color: #a6c95a !important;
}