body {
    background-color: #313131 !important;
    color: white !important;
}

#main {
    padding: 10%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10vh !important;
}

#header {
    margin-top: 3vh;
    margin-bottom: 10vh;
}

#header h1 {
    color: white !important;
}

#header hr {
    width: 140px;
}