body {
    background-color: #313131 !important;
    color: white !important;
}

#main {
    padding: 10%;
    padding-left: 5%;
    padding-right: 5%;
}

#header {
    margin-top: 3vh;
    margin-bottom: 10vh;
}

#header h1 {
    color: white !important;
}

#header hr {
    width: 140px;
}

#controls .col-lg-3, #controls .col-lg-9 {
    padding: 1vh;
}

a {
    text-decoration: none !important;
}

.pimage img {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    width: 100%;
}

.pimage {
    padding: 2vw;
}

.description {
    padding: 3vh;
}

/* Product title */
.description h3 {
    color: black !important;
}

/* Price */
.description p {
    color: black !important;
    opacity: 0.6;
    margin: 0px;
}

/* Select CSS */

input {
    padding: 2.4vh !important;
    border-radius: 6px !important;
    width: 90%;
    height: 4vw;
    width: 100%;
}

select {
    width: 100% !important;
    height: 4vw;
    padding: 2.4vh !important;
    border-radius: 6px;
    border: none;
    outline: none;
    box-shadow: 0 4px 12px 0px rgba(0,0,0,.25);
    font-size: 2.5vh !important;
    background: white;
    vertical-align: middle;
}

button {
    height: 4vw;
    max-height: 100%;
    float: left;
    /* width: 100%; */
}

#controls {
    margin-bottom: 3vh !important;
}

/* Masonry grid */

.masonry {
    column-count: 4;
    column-gap: 1em;
}

.item {
    background-color: #eee;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
    border-radius: 6px;
}

/* Box-sizing reset: //w3bits.com/?p=3225 */
html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  /* The Masonry Container */
  .masonry {
    /* margin: 1.5em auto; */
    column-gap: 1.5em;
    width: 100%;
  }
  
  /* The Masonry Brick */
  .item {
    background: #fff;
    margin: 0 0 1.5em;
  }
  
  .item img {
      width: 100%;
  }
  
  /* Masonry on large screens */
  @media only screen and (min-width: 1024px) {
    .masonry {
      column-count: 4;
    }
  }
  
  /* Masonry on medium-sized screens */
  @media only screen and (max-width: 1023px) and (min-width: 768px) {
    .masonry {
      column-count: 3;
    }
  }
  
  /* Masonry on small screens */
  @media only screen and (max-width: 767px) and (min-width: 0px) {
    .masonry {
      column-count: 1;
    }
  }

  #cart {
    background: url("../res/shopping-cart.svg");
    background-size: contain;
    width: 100%;
    height: 100%;
  }

  .col-lg-2, .col-lg-6, .col-lg-3 {
      overflow: hidden !important;
      padding-right: 0px;
  }