body {

	background: #313131 !important;

}



.row {

	padding-left: 10vw;

	padding-right: 10vw;

	padding-bottom: 5vw;

	padding-top: 5vw;

}



.question {

	padding: 4vw;

	background: #313131;

	cursor: pointer;

	transition: 0.2s;

}



.question:hover {

	padding-left: 9.5vh;

	padding-right: 6.5vh;

}



.question:hover a {

	color: black !important;

}



a {

	text-decoration: none !important;

	color: white !important;

}



a:hover {

	color: white !important;

}



p {

	opacity: 0.7;

	overflow: hidden;

	height: 7ch !important;

	width: 100% !important;

}



.carousel-inner p {

	margin: 0 !important;

}



.slide  * {

	overflow: auto !important

}

#home .carousel-item { overflow-x: hidden !important; }


h1 {

	color: white !important;

	opacity: 1 !important;

	font-size: 8vh !important;

	text-overflow: ellipsis !important;

	overflow: hidden;

	white-space: nowrap;

}


hr {

	width: 6vw !important;

}

