body {
	padding-top: 0px !important;
}

* {
	overflow: auto !important;
}

#ask {
	background-color: #c3ea6e !important;
	color: black;
	text-align: center !important;
	display: table !important;
	width: 100%;
	height: 100%;
}

#questions {
	background-color: #313131 !important;
	color: white;
	text-align: center !important;
	display: table !important;
	width: 100%;
	height: 100%;
}

#ask_image {
	background-image: url("../../res/ask.svg");
	height: 165px;
	background-repeat: no-repeat;
	width: 100%;
	background-position: center;
	background-size: contain;
	margin-bottom: 3%;
}

#questions_image {
	background-image: url("../../res/community.svg");
	height: 200px;
	background-repeat: no-repeat;
	width: 100%;
	background-position: center;
	background-size: cotain;
}

#ask p, #questions p {
	padding: 12vw;
	padding-top: 3vw;
	padding-bottom: 2.9vw;
}

#ask button {
	background-color: #313131 !important;
	color: white !important;
}

#ask button, #questions button {
	width: 40% !important;
}

.contain {
	width: 100%;
	height: 100%;
	display: table-cell !important;
	vertical-align: middle !important;
}